<div class="fs_inner">
  
  <div class="error" id="fs_error"></div>
  <div class="search_container">
    <input type="search" id="fs_search" placeholder="<%= I18n.t("friend_selector.search") %>" autocomplete='off'/>
  </div>

  <ul class="friends">

  </ul>

</div>