    <% for(var i in friends) { var friend = friends[i]; %>
      <li data-fbid="<%= friend.id %>" class="<%= friend.selected ? 'selected' : '' %>">
        <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" />
        <span class="friend_name"><%= friend.name %></span>
      </li>
    <% } %>